img {
    width: 60rem;
    height: 43.75rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
  }

  .left {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
  }

  .arrow {
    color: white;
  }

  .arrow:hover {
    color: red;
  }

  .name {
    font-size: 2rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
  }

  .text {
    position: absolute;
    top: 82%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .donate {
    background-color: red;
  }

  .carouselBtn {
    border-radius: 0.75rem;
    border: none;
    font-weight: bold;
    margin-right: 0.625rem;
    width: 6rem;
    height: 2rem;
  }

  .carouselBtn:hover {
    background-color: yellow;
  }
