img {
    width: 800px;
    height: 700px;
    object-fit: cover;
    border-radius: 25px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
  }

  .left {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
  }

  .arrow {
    color: white;
  }

  .name {
    font-size: 2rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
  }

  .text {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
  }
